/* general nav and tab styles */

nav {
  display: flex;
  justify-content: flex-start;
  font-family: var(--header_font);
  background-color: var(--bgcolor);
  margin-bottom: 2rem;
}

nav::selection {
  background-color: var(--bgcolor);
}

.nav__tab::selection {
  background-color: lightgray;
}

.nav__tab {
  border-left: var(--border);
  border-top: var(--border);
  border-right: var(--border);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.1s ease-in-out;
  min-width: 13rem;
  height: 5rem;
  padding: 1.6rem 0.7rem 1.4rem;
  font-size: 1.4rem;
}

.nav__tab:hover {
  background-color: var(--bgcolor);
  font-weight: 400;
}

/* selected/unselected states */

.selected {
  border-bottom: 0.1rem solid transparent;
  background-color: var(--bgcolor);
  font-weight: 400;
}

.selected::after {
  content: ".";
}

.unselected {
  border-bottom: var(--border);
  background-color: rgb(226, 226, 226);
}

a {
  color: black;
  text-decoration: none;
}

/* specific tab styles */

#form-tab,
#function-tab {
  position: relative;
  margin-left: -1rem;
}

#content-tab {
  font-style: italic;
}

.content-tab,
.form-tab {
  font-weight: 300;
}

.function-tab {
  font-weight: 100;
}

.content-tab::after,
.form-tab::after,
.function-tab::after {
  content: ":";
}

/* logo tab and text */

#index-tab {
  background-color: var(--bgcolor);
  padding: 0 0.5rem;
  margin-right: 0.3rem;
  border-bottom: 0.1rem solid transparent;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.logo {
  font-family: "DM Serif Display", serif;
  font-size: 3.7rem;
  color: rgb(40, 42, 53);
  text-shadow: -2px -2px 0 cyan, 2px 2px 0 magenta;
  background-color: var(--bgcolor);
}

.logo:hover {
  text-shadow: none;
}

.logo:active {
  text-shadow: none;
}

.logo::selection {
  color: white;
  background-color: rgb(40, 42, 53);
}
