* {
  box-sizing: border-box;
}

:root {
  --padding: 1.5rem;
  --border: 0.1rem solid lightgray;
  --border-radius: 0.6rem;
  --header_font: "Lato", sans-serif;
  --bread_font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --bgcolor: whitesmoke;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
}

#root {
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.75rem 0.75rem;
  max-width: 85vw;
  background-color: var(--bgcolor);
  font-family: var(--header_font);
}

h1::selection,
div::selection {
  background-color: lightgray;
}

em {
  font-weight: 100;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}
